{% extends "master.html" %}
{% block title %}User Profile{% endblock title %}
{% load static %}
{% block content %}
    <section id="main">
        <div class="containerabout">
            <article id="main-col">
                <h1 class="page-title">About Us</h1>
                
                <p class="light">Welcome to Thrift Store!<br>
                    
                    Our store was founded in 2020 by a group of friends who were passionate about reducing waste and promoting sustainable living. Since then, we've grown into a beloved community institution, offering affordable clothing, household goods, and other treasures to our customers.<br>
                    
                    Our mission is simple: we believe that everyone deserves a second chance. That's why we're committed to giving new life to gently used items, rather than letting them end up in the landfill. By doing so, we're able to provide our customers with high-quality, affordable products, while also doing our part to protect the planet.<br>
                </p>
                <p class="dark">
                    Our mission is to inspire the younger generation and make them aware of how important it is to shop consciously.<br>

                    At Thrift Store one can buy and sell their clothes, accessories,shoes etc. It's an online platform for all the fashion and environment lovers: for the Sellers, it is to consign their pre-loved branded clothing and earn easy cash for their products; for our Buyers, it is to buy brands at a great price and in turn also give back to mother earth by accepting a sustainable lifestyle .<br>

                    Our team of volunteers is what really sets us apart. They're a diverse group of individuals who are united by their passion for our store's mission. They help us sort donations, stock shelves, and assist customers with a friendly smile.<br>
                
                    If you have any questions or concerns, please don't hesitate to reach out to us. We're always happy to chat with our customers and help them find what they're looking for.<br>
                    
                    Thank you for choosing Second Chance Thrift Store!<br>
                </p>
            </article>
            
        </div>
    </section>
    {% endblock content %}