{% extends "master.html" %}
{% block title %}SellwithUs{% endblock title %}
{% load static %}
{% block content %}
<section id="main">
<div class="containersell">
    <h1>Sell With Us</h1>

    <form method="post" enctype="multipart/form-data" class="sell-form">
        {% csrf_token %}
        <label for="name">Product Name:</label>
        <input type="text" name="name" required>

        <label for="description">Description:</label>
        <textarea name="description" required></textarea>

        <label for="price">Price:</label>
        <input type="number" name="price" required>

        <label for="category">Category:</label>
        <select name="category" required>
            {% for category in form_data.categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <label for="image">Image:</label>
        <input type="file" name="image" accept="image/*" required>

        <input type="submit" value="Submit" class="submit-btn">
    </form>
  </div>
</section>
{% endblock content %}
{% block body %}
{% endblock body %}
